.container {
  max-width: 800px;
  margin: 0px auto;
  font-family: "Roboto", sans-serif;
}

.input-container {
  font-family: "Fira Code", monospace;
  height: 40px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  font-size: 19px;
  padding: 0px 5px;
}

.tags-container {
  gap: 6px;
  display: flex;
  height: 80%;
}

#tag-container {
  background-color: #f0f0f0;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: clamp(0.7em, 2.5vw, 0.9em);
}

#tag-container:hover {
  background-color: #e6e6e6;
}

#tag-span {
  font-weight: 500;
  display: flex;
  gap: 2px;
}

#tag-span > span {
  font-weight: 500;
  color: rgb(182, 160, 202);
  margin-left: 5px;
}

#tagSpanClose {
  display: flex;
  padding-right: 7px;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: normal;
}

#tagSpanClose:hover {
  color: red;
}

.tagsInput {
  border: none;
  height: 100%;
  width: 100%;
  font-size: 17px;
  font-size: clamp(0.7em, 2.5vw, 0.9em);
  display: inline-block;
}

.input-wrapper {
  height: calc(100% - 4px);
  align-self: center;
  flex-grow: 1;
}

.tagsInput:focus {
  outline: none;
}
